#baslangıc{
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    color: orange;
    background-color: black;
}

div{
    width: 600;
    height: 500px;
    background-color: white;
    font-size: 18px;
    padding: 50px;
    margin: 50px;
    background-color: coral;
}

h1{
    color:black ;
    font-family: fantasy;
}

body{
    background-color: cadetblue;
}

.renk{
    background-color: darkcyan;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 200px;


}
 